form, .display {
  text-align: center;
  padding: 50% auto;
  padding: 3em; }
  form label, .display label {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    color: #bdc3c7; }

.input {
  background-color: #bdc3c7;
  padding: 0.5em 4em;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  text-align: center;
  font-size: 1.5em;
  color: #34495e; }

form {
  background-color: #34495e; }

.display {
  display: flex;
  background-color: #bdc3c7;
  text-align: center;
  font-size: 1.5em;
  color: #34495e; }

.display-info {
  justify-content: center;
  background-color: white;
  width: 40%;
  height: 8em;
  border-radius: 3%;
  margin: 0 auto;
  padding: 1em 0; }
  .display-info p {
    color: #bdc3c7; }
